body{
  display:flex;
  flex-direction: row;
}
/*HEADER*/

#header-container{
  height: 100vh;
  width: 20vw;
  min-width: 300px;
  background-color: #3dc4d4;
  box-sizing: border-box;
}

#logo-container{
  height: 120px;
  text-align: center;
  font-size: 1.8em;
  margin: auto;
}

.menu-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  height: auto;
  text-align: center;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-list{
  display: flex;
  flex-direction: column;
}

.menu-title{
  color: rgb(116, 0, 161);
  font-size: 1.2em;
  text-align: left;
  padding: 1px 15px;
  border-bottom: rgba(247, 7, 255, 0.295) 1px solid;
}

.menu-item{
  color: rgba(41, 41, 41, 0.822);
  padding: 5px 40px;
  background-color: rgba(240, 248, 255, 0.185);
  margin: 2px 0 2px 0;
  text-decoration: none;
  text-align: left;
  width: 300px;
  height: auto;
  width: auto;

}

.menu-item:hover{
  padding-left: 45px ;
  color: black;
  background-color: aliceblue;
}

#logo-container{
  margin:auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
}

#logo{

  height: 50px;
  width: auto;
}

/*HOME*/

#logo-home{

  height: auto;
  width: 50%;
}

#home-container{
box-sizing: border-box;
text-align: center;
margin-top: 35vh;

}

/* MAIN PAGE */
.main-container{
  display: flex;
  flex-direction: row;
  margin: none;
  width: 100vw;
}

.individual-page{
  background-color: rgba(218, 218, 218, 0.432);
  width: 80vw;
  height: 100vh;
  overflow: scroll;
}

.h1-page{
  box-sizing: border-box;
  color: #3b3b3b;
  border-bottom: 1px rgba(0, 0, 0, 0.247) solid;
  margin: 0;
  padding: 10px 20px;
  background-color: rgba(227, 243, 253, 0.377);
}

.form-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px 20px;
}

.form-health{
  display: flex;
  flex-direction: column;
}

.form-label{
  padding: 5px 10px;
  font-weight: 400;
}

.form-input{
  width: auto;
  height: 20px;
  max-width: 600px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.199);
  padding: 0 0 0 8px;
}

.button-div{
  margin: 10px 0;
  width: auto;
  height: 40px;
  max-width: 600px;
  justify-content: flex-start;
}

.btn-input{
  margin: 10px;
  padding: 5px 15px;
  font-weight: 600;
  color: #3b3b3b;
  background-color: #8e51d454; 
  border: 0.1px solid rgba(0, 0, 0, 0.199);
  border-radius: 3px;
}

.btn-input:hover{
  background-color: rgb(116, 0, 161);
  color: white;
}

/*EXAM ITEM*/

.container-exam-item{

}
.exam-item{
  max-height: auto;
}

.exam-li{
  background-color: rgba(255, 255, 255, 0.63);
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  max-width: 600px;
  max-height: 200px;
  height: auto;
  width: auto;
  margin-bottom: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.exam-h4{
  text-align: center;
  width: 80%;
  height: 80%;
  max-height: 80px;
  max-width: 450px;
  margin: 0;  font-size: 1.3em;
}

#exam-id{
  text-align: center;
  width: 20%;
  height: 80%;
  max-height: 80px;
  max-width: 150px;
  margin: 0;
  font-size: 1.3em;
}

.exam-head{
  padding-top: 5px;
  width: 100%;
  border-bottom: #3b3b3b69 1px solid;
  color: #5e01b4;
  display: flex;
  box-sizing: border-box;
  height: 40px;
}
.exam-body{
  display: flex;
  
  border-bottom: #3b3b3b1e 1px solid;
}
.exam-p{
  margin:3px 0 3px 15px;
  width: 50%;
  max-height: 25px;
  max-width: 600px;
  font-size: 1em;
}


